* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Color variables  */
    --white: #fff;
    --primary-blue: #3B82F6;
    --secondary-light-blue: #6177A5;
    --tertiary-orange: #D16900;
    --neutral: #1F2937;
    
    /* Font-family variables */
    --font-body-inter: "Inter", sans-serif;
    --font-headline-manrope: "Manrope", sans-serif;
}

.page {
    font-family: var(--font-body-inter);
    margin-inline: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: flex-start;
    margin-block: 175px;
}